body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    text-align: center;
}
h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
h3{
    color:red;
}

.links{
    list-style:none;
    display: inline-block;
    display: flex;

}
h2 {
    text-align: center;
}
    