<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="" async defer></script>
        <link rel="stylesheet" href="">
    </head>
    <body>
        <% if(mySkills.length > 1) { %>
            <h1>My Skills</h1>
        <%} else { %>
            <h1>My Skill</h1>
        <% } %>
      
        
        <ul>
            <% for(let i = 0; i < mySkills.length; i++){ %>
                    <li>
                        <a href="/skills/<%=i%>">
                            <%= mySkills[i] %>
                        </a>
                    </li>
            <% } %>
        </ul>   
    </body>
</html>