body {
    font-family: sans-serif;
    background-color: rgb(201, 231, 201);
    text-align: center;
    margin-top: 80px;
}

button {
    background-color: rgb(32, 148, 32);
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    margin-right: 5px;
}

#cut {
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    
}

#tools {
    background-color: red;
}

.variousTools {



}

li {
   list-style: none; 
}
.one {
    font-family: sans-serif;
    text-align: center;
    padding:50px;

}
h2 {
    text-align: center;
}

#mowImage {
    text-align: right;
    padding: 180px;
}

img {
    display: inline;
    height: 250px;
    width: 250px;
    position: relative;
}
    