body {
    background-color: #F8F7FF;
    text-align: center; 
}/*or any color of your choosing*/
.owl{
    font-family: fantasy;
}

.secret{
    opacity: .5;
}

li{
    list-style: none;
}

table{
    display: table;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    align-items: center;

}