body {
    background-color: gold;
    text-align: center; 
}/*or any color of your choosing*/
#container {
    text-align: center;


}
h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.owl{
    font-family: fantasy;
}

.secret{
    opacity: .5;
}

li{
    list-style: none;
}

table {
    display: table;
    border-style: solid;
    border-color: gray;
    border: 1px;
    align-items: center;

}

.cabbage {
    color: chartreuse;
}